<p> <%= comment.body %> </p>
<% if current_user && current_user.id == comment.user.id %>
<%= link_to t('common.delete'), comment, method: :delete %>
<%= link_to t('common.edit'), edit_comment_path(comment)%>
<% end %>