<p> <%= comment.body %> </p>
<% if current_user && current_user.id == comment.user.id %>
<!-- подключаем иконку при помощи хэлпера -->
<%= link_with_icon 'trash-o', comment, title: t('common.delete'), method: :delete %> <!-- 'trash-o' экранируем т.к. иначе -(минус) будет трактован как неверный синтаксис при записи вида :trash-o -->
<%= link_with_icon :pencil, edit_comment_path(comment), title: t('common.edit')%> 
<% end %>