<p>Привет, <%= @user.email %></p>
<p>На ваш пост "<%= link_to @post.title, @post%>" оставлен комментарий: </p>
<p><%= truncate(@comment.body) %></p>
<p>Все посты Вы можете посмотреть <%= link_to 'здесь', posts_url %></p> <!-- так как письмо открывается в не нашего приложения - указываем абсолютный путь при помощи post_url -->